#submit_button{
    width:70px;
    height:25px;
    background-color: aqua;
    margin:20px;
}
#sort_button{
    display:none;
    width:70px;
    height:25px;
    background-color: aquamarine;
    margin:20px;
}
input{
    margin:10px;
}